@{
    ViewBag.Title = "WorkSpaces";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkSpaces</title>

</head>
<body>
    
    <table>
        <tbody>
            <tr>
                <td><button style="margin:20px" class="btn btn-large btn-primary" onclick="join()">Join</button></td>
                <td><button style="margin:20px" class="btn btn-large btn-success">@Html.ActionLink("Create new", "CreateWsp", "Home")</button></td>
            </tr>
        </tbody>
    </table>
    
    <form method="post">
        <table class="table">
            <tbody>
                @foreach (var w in Model)
                {
                    <tr class="user-row" onclick="selectUser('@w.GroupName')">
                        <td>@Html.ActionLink((string)w.GroupName,"WorkSp","Home", new { group = w.GroupName}, null )</td>
                    </tr>
                }
            </tbody>

        </table>
    </form>
</body>

</html>